* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-size: 25px;
}

section > hr {
  height: 1px;
  width: 33px;
  border: none;
  background-color: #ec5242;
  text-align: center;
  margin: 0 auto;
}

footer {
  background-color: white;
  text-align: center;
}

.intro {
  padding: 3% 5%;
  text-align: center;
  background-image: url(images/intro/home-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
}

.intro button {
  border: none;
  background-color: #d3d3d3;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  align-self: flex-start;
}

.intro > .intro-top {
  color: #ec5242;
  padding: 10% 3% 10% 3%;
}

.intro > .intro-top > p {
  font-size: 19px;
}

.intro > .intro-top > h1 {
  font-weight: 900;
  font-size: 32px;
}

.intro > .intro-mid {
  border: 2px solid #aca9a9;
  background-color: white;
  padding: 4% 5%;
}

.intro > .intro-bottom {
  padding: 5% 10%;
  padding-bottom: 50px;
  font-size: 12px;
}

.intro > .intro-bottom > aside {
  font-weight: 500;
  text-decoration: underline;
  padding: 5px 0px 0px 0px;
}

.current {
  background-color: white;
  text-align: center;
}

.current h3 {
  padding: 5% 3%;
}

.current > p {
  padding: 5% 8%;
  font-weight: 400;
  font-size: 12px;
}

.current img {
  width: 360px;
  padding: 5% 3%;
  height: 250px;
  opacity: 35%;
  padding-bottom: 12%;
}

.current div {
  position: relative;
}

.current div h5 {
  position: absolute;
  top: 80px;
  left: 70px;
  letter-spacing: 0.4cap;
  font-weight: 550;
  color: black;
}

.current div h5:first-letter {
  color: #ec5242;
}

.current div h5 span {
  color: #ec5242;
}
/*fixme: need to review all the hr*/
.current div hr {
  /* background-color: aqua; */
}

.past {
  background-color: white;
  text-align: center;
  padding: 3% 8%;
}

.past h3 {
  font-weight: 500;
  padding: 2% 3%;
}

.past > p {
  padding: 3% 2% 12% 2%;
  font-weight: 350;
  font-size: 13px;
}

.past div {
  margin: 0 auto;
  height: 250px;
  width: 360px;
  background-color: #ec5242;
  position: relative;
}

.past div img {
  margin: 0 auto;
  height: 250px;
  width: 360px;
  opacity: 37%;
}

.past div h2 {
  position: absolute;
  top: 100px;
  left: 155px;
  margin: 0 auto;
  color: white;
  font-weight: 800;
}

.past > div > p {
  position: absolute;
  top: 135px;
  left: 75px;
  font-weight: 550;
  margin: 0 auto;
  color: white;
}

.past .abc:after {
  content: "";
  display: block;
  clear: both;
}

/*fixme: text size and styling*/
.partner {
  background-color: #272a31;
  color: black;
  text-align: center;
  width: 415px;
  max-height: fit-content;
}

.partner h3 {
  padding: 3% 2%;
  color: white;
}

.partner div ul {
  padding: 7% 10%;
  width: 100%;
  gap: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.partner div ul li i {
  font-size: 15px;
  height: 40px;
  color: white;
}
