* {
  font-family: lato, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section > hr {
  height: 2px;
  width: 25px;
  border: none;
  background-color: #ec5242;
}

.intro {
  background-color: #d3d3d3;
}

.program {
  background-color: #272a31;
  color: white;
}

.speakers {
  background-color: white;
}
