* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
    font-size: 25px;
}

nav {
    height: 60px;    
    background-color: #d3d3d3; 
}

nav > button {
    padding-top: 15px;
    padding-left: 38px;
    border: none;
    background-color: #d3d3d3; 
}

section > hr {
  height: 1px;
  width: 33px;
  border: none;
  background-color: #ec5242;
  text-align: center;
  margin: 0 auto;
}

.intro {
  background-color: #d3d3d3;
  padding: 3% 5%;
}

.intro > .intro-top {
    color:#ec5242;
    padding: 5% 3%;
}

.intro > .intro-top > p {
    font-size: 19px;
}

.intro > .intro-top > h1 {
  font-weight: 900;
  font-size: 32px;
}

.intro > .intro-mid {
    border: 2px solid white;
    padding: 4% 5%; 
}

.intro > .intro-bottom {
    padding: 5%;
    padding-bottom: 50px;
    
}

.intro > .intro-bottom > aside {
    font-size: 15px;
    font-weight: 400;
    padding: 5px 0px 0px 0px;
}

.program {
  background-color: #272a31;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 980px;
}

.program > h3 {
    text-align: center;    
    padding-top: 8%;
}

.program > ul {
    padding: 2% 4%;
    gap: 50px;
}

.program > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 2% 3%;
    margin: 3%;    
    background-color: #393c44;
}

.program > ul > li > span {
    width: 10%;
}

.program > ul > li > h3 {
    width: 30%;
    color: #ec5242;
}

.program > ul > li > p {
    width: 60%;
}

.program > button {
  color: white;
  background-color: #ec5242;
  border: none;
  width: 70%;
  height: 70px;
  align-self: center;
}

.speakers {
  background-color: white;
  
}

.speakers > h3 {
  text-align: center;
  padding: 3%;

}

.speaker-container {
  display: flex;
  justify-content: center;
  
}
/*fixme: the hr */

.speakers img {
  height: 120px;
  width: 120px;
  padding: 2% 2%;
}

.speaker {
  position: relative;
  top: 0;
  left: 0;
  width: 22%;

}

.speaker > .img-two {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid red;
}

.speaker > .img-one {
  position: absolute;
  top: 12px;
  left: 12px;
  border: 1px solid green;
  z-index: 1;
}



.speakers .right-side {
  border: 1px solid red;  
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 65%;  
}

.speakers .right-side > p {
  font-size: 13px;
  border: 1px solid red;
}

.speakers .right-side:after {
  content: "";
  display: block;
  clear: both;
}